* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    width: 980px;
    min-height: 50px;
    background-color: #2b4224;
    margin: 10px auto;
    padding: 20px 0 0 0;
}

#topmost-div {
    width: 980px;
    text-align: center;
}

#top-text-sample {
    font-size: 44pt;
}

.orange-font1 {
    font-family: Carter One;
    color: chocolate;
    text-shadow: 2px 2px black;
}

.orange-font2 {
    font-family: Carter One;
    color: #ff7e00;
    text-shadow: 2px 2px black;
    padding-right: 50px;
}

#middle-section {
    width: 980px;
    padding: 10px 20px 0 20px;
}

    #middle-row1 {
        display: flex;
        justify-content: space-around;
    }

    #on-the-hunt {
        cursor: pointer;
    }

    .middle-section-imgs {
        width: 650px;
        border-radius: 15px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    }

    .next-img {
        display: none;
    }

    #middle-row2 {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

        #who-is-it {
            cursor: pointer;
        }   

        #why-its {
            display: none;
        }

    #middle-row3 {
        display: inline-block;
        justify-content: center;
        padding: 30px 0 0 0;
    }

        #middle-row3 img {
            cursor: pointer;
        }

        #middle-row3 h1 {
            text-align: center;
        }

        #warp-images {
            width: 980px;
            display: flex;
            justify-content: space-evenly;
            margin: 0 0 0 -20px;
            padding: 15px 0 0 0;
        }

        .middle-section-imgs2 {
            width: 450px;
            border-radius: 15px;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
        }

        #default-hide-img {
            visibility: hidden;
        }

        #default-show-img {
            visibility: visible;
        }